.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge_point {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.badge__link {
  position: relative;
}
